{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://github.com/Priyanshu052600"><img src="{% static 'images/GitHub.svg' %}" alt="..."></a></li>
        <li><a href="https://www.instagram.com/priyanshugupta53"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
        <li><a href="https://leetcode.com/Priyanshu_786"><img src="{% static 'images/LeetCode.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/priyanshu-gupta-b68887191"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a  target="_blank">Priyanshu </a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->